name: test

on:
  pull_request:
    branches: [ master ]

jobs:
  mac-test:
    name: mac-test
    runs-on: macos-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Test
      run: |
        go test -count 1 -timeout 30s -v .
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/keyFunc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/signal
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/log
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/reqf
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/limit
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/file
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/pool
        go test -count 1 -timeout 10s -v github.com/qydysky/part/pool
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/funcCtrl
        go test -count 1 -timeout 50s -v -race github.com/qydysky/part/msgq
        go test -count 10 -race -timeout 10s -run ^Test_3$ github.com/qydysky/part/msgq
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sync
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/web
        go test -count 1 -timeout 40s -v -race github.com/qydysky/part/websocket
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/rpc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component2
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/ctx
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/slice
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/bools
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/errors
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/crypto/...
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/flag -sss=ss -i32=32 -f34=34 -btrue=true -d1m=1m

  w-test:
    name: w-test
    runs-on: windows-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Test
      run: |
        go test -count 1 -timeout 30s -v .
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/keyFunc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/signal
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/log
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/reqf
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/limit
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/file
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/pool
        go test -count 1 -timeout 10s -v github.com/qydysky/part/pool
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/funcCtrl
        go test -count 1 -timeout 50s -v -race github.com/qydysky/part/msgq
        go test -count 10 -race -timeout 10s -run ^Test_3$ github.com/qydysky/part/msgq
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sync
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/web
        go test -count 1 -timeout 40s -v -race github.com/qydysky/part/websocket
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/rpc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component2
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/ctx
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/slice
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/bools
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/errors
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/crypto/...
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/flag -sss=ss -i32=32 -f34=34 -btrue=true -d1m=1m

  u-test:
    name: u-test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Test
      run: |
        go test -count 1 -timeout 30s -v .
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/keyFunc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/signal
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/log
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/reqf
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/limit
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/file
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/pool
        go test -count 1 -timeout 10s -v github.com/qydysky/part/pool
        go test -count 1 -timeout 15s -v -race github.com/qydysky/part/funcCtrl
        go test -count 1 -timeout 50s -v -race github.com/qydysky/part/msgq
        go test -count 10 -race -timeout 10s -run ^Test_3$ github.com/qydysky/part/msgq
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sync
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/web
        go test -count 1 -timeout 40s -v -race github.com/qydysky/part/websocket
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v github.com/qydysky/part/sql
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/rpc
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/component2
        go test -count 1 -timeout 20s -v -race github.com/qydysky/part/ctx
        go test -count 1 -timeout 10s -v -race github.com/qydysky/part/slice
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/bools
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/errors
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/crypto/...
        go test -count 1 -timeout 5s -v -race github.com/qydysky/part/flag -sss=ss -i32=32 -f34=34 -btrue=true -d1m=1m
